*.log
*.fls
*.fdb_latexmk
*.aux
*.toc
*.out
*.lof
*.lot
*.bbl
*.blg
*.synctex.gz
*.nav
*.snm
*.vrb
NLP_Venv/
__pycache__/
*.pyc
*.DS_Store
*.vscode/
.ipynb_checkpoints/
*.pth
*.csv
# *.json
venv/
.venv/
Models/Notebooks/venv/
*/venv/
*/.venv/
.song_lyrics.csv
Models/Notebooks/OTHER_THINGS/

# Web Application
Web/backend/.env
# Web/frontend/.env
Web/frontend/.env.local
Web/frontend/.env.production
Web/frontend/node_modules/
Web/frontend/dist/
Web/frontend/build/
Web/backend/__pycache__/
Web/backend/*.pyc
Web/backend/package.json
Web/backend/package-lock.json